@media only screen and (max-width: 1700px) {
  .welcome-text {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1500px) {
  header {
    background-size: cover;
  }

  nav {
    width: 45%;
  }
}

@media only screen and (max-width: 1250px) {
  #logo {
    font-size: 45px;
  }

  nav ul {
    font-size: 25px;
  }

  .welcome-content {
    width: 90%;
  }

  /* portfolio */

  .portfolio-content,
  .image-nav {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .top-row {
    align-items: flex-start;
  }

  .hamburger-toggle {
    display: block;
    opacity: 0;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  nav ul {
    display: none;
  }

  .hamburger-toggle:checked ~ ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 0;
  }

  .hamburger-toggle:checked ~ ul li {
    margin-bottom: 25px;
    animation: none;
  }

  .welcome-content {
    flex-direction: column;
    align-items: center;
  }

  .welcome-content > * {
    width: 50%;
  }

  .welcome-content > *:not(:last-child) {
    margin-bottom: 50px;
  }

  .contact-content {
    width: 85%;
  }
}

@media only screen and (max-width: 850px) {
  .portfolio-content {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .image-wrapper {
    grid-area: auto / auto / auto / auto;
  }
}

@media only screen and (max-width: 800px) {
  header {
    height: 600px;
    background-size: 150%;
    padding-top: 80px;
  }

  .top-row {
    flex-direction: column;
    align-items: center;
  }

  #logo {
    margin-bottom: 30px;
  }

  .hamburger-icon {
    align-items: center;
  }

  .hamburger-toggle:checked ~ ul {
    align-items: center;
  }

  /* welcome */
  .welcome-content > * {
    width: 65%;
  }
}

@media only screen and (max-width: 570px) {
  header {
    height: 500px;
  }

  nav {
    width: 60%;
  }

  /* welcome */
  .welcome-content > * {
    width: 75%;
  }
}
